// variables
$breakpoints: (
  "xs": 320px,
  "sm": 769px,
  "md": 1024px,
  "lg": 1216px,
  "xl": 1408px
);
$item-border: #b2b6b7;
$link-colour: #50bebf;

// deps
@import '~bulma/css/bulma.css';
@import '~nprogress/nprogress.css';
@import '~include-media/dist/include-media';

// layout
@import './common';
@import './filter';
@import './content';